<div class="table__wrapper">
  <table class="content__table table-bordered">
    <th class="table-header" md-sort-header="name">Name</th>
    <th class="table-header" md-sort-header="lastname">Lastname</th>
    <th class="table-header" md-sort-header="Email">Email</th>


    <tr *ngFor="let user of users">
      <td class="table-item">{{user.name}}</td>
      <td class="table-item">{{user.lastName}}</td>
      <td class="table-item">{{user.email}}</td>
    </tr>
  </table>
</div>
<div class="search__users">
  <form class="search__form">
    <label class="search__input">Search:</label>
    <input type="text" [(ngModel)]="letters" [ngModelOptions]="{standalone: true}"
           id="name" placeholder="Search by name ...">
  </form>

  <ul class="list__search">
    <li class="list__item" *ngFor="let user of users | searchUser:letters:users">
      <p>{{user.name}}</p>
      <p>{{user.email}}</p>
    </li>
  </ul>

</div>