<div class="wrapper">
  <header class="header">
    <div class="container">
      <div class="header__left"><span class="user__status">Online: </span>
        <span class="user__data">{{currentUserData.name}}</span>
        <span  class="user__data">{{currentUserData.lastName}}</span>
      </div>
      <div class="header__right">
        <button type="button" class="btn btn-danger" routerLink="/login">Logout</button>
      </div>
    </div>
  </header>

  <div class="content">
    <nav>
      <ul class="list__group">
        <li class="list__item" routerLink="/page-profile"><a>My Profil</a></li>
        <li class="list__item" routerLink="/page-profile/userTimer"><a>Timer</a></li>
        <li class="list__item" routerLink="/page-profile/table-profile"><a>Table</a></li>
      </ul>
    </nav>

    <div class="container">
      <div class="info__user ">
        <div class="dateOf__users">Name:{{currentUserData.name}}</div>
        <div class="dateOf__users">Lastname:{{currentUserData.lastName}}</div>
        <div class="dateOf__users">email: {{currentUserData.email}}</div>
        <!--<div class="dateOf__users">Password: {{UserData.name}}</div>-->
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>