<div class="container wrapp_forgot">

  <div class="question">
    <span class="text__questions">
    Please enter the numbers from the screen
    </span><span class="question__qu">{{question}}</span>
  </div>
  <form class="form-inline">
          <div class="form-group">
            <label for="exampleInputName2">Your answer:</label>
            <input type="number" class="form-control" id="exampleInputName2" [(ngModel)]="userAnswer" [ngModelOptions]="{standalone: true}" (change)="questionAnswer()">
          </div>
          <button type="submit" class="btn btn-success" routerLink="/forgot-password/dataOfUsers">Send answer</button>
  </form>
  <router-outlet *ngIf="ValidAnswer"></router-outlet>
</div>
